#broadcast div {
    margin: 3px;
    padding: 20px 20px;
    text-align: center;
    border: 4px solid #a6a6a6;
    font-weight: bold;
    font-size: 16px;
    color: #a6a6a6;
    cursor: pointer;
    width: 15em;
}

#broadcast div:hover {
    color: #fff;
    border-color: #fff;
}

#broadcast div.ON {
    color: #ff0000;
    border-color: #ff0000;
}

#broadcast div.waiting {
    color: #bbcb00;
    border-color: #bbcb00;
}

#broadcast div.off_pause, #broadcast div.off_pause:hover {
    color: #666;
    border-color: #666;
}

