#categories {
    width: 150px;
}

#categories div, #categories_short div {
    margin: 1px;
    font-weight: bold;
    border: 1px solid #000;
    height: 40px;
    line-height: 40px;
    color: #808080;
    padding-left: 44px;
    background-color: #393939;
    background-repeat: no-repeat;
    background-image: url('/img/category.png');
    cursor: pointer;
}

#library {
    width: 320px;
}
#categories_short div {
    border: none;
    float: left;
}
#categories_short div span {
    display: none;
    padding-right: 10px;
}

#categories div:hover, #categories_short div:hover {
    color: #fff;
    background-image: url('/img/category-hover.png');
}

#categories div.selected, #categories_short div.selected {
    color: #bbcb00;
    border: 1px solid #bbcb00;
    background-image: url('/img/category-selected.png');
}

#categories_short div.selected span {
    width: 70px;
    display: block;
}

#category_intro { background-position: 0 -40px; }
#category_message { background-position: 0 -80px; }
#category_music { background-position: 0 -120px; }
#category_alarm { background-position: 0 -160px; }
#category_test { background-position: 0 0; }
#category_unsorted { background-position: 0 -200px; }


