#channels div {
    padding-left: 44px;
    background-image: url('/img/channel.png');
    background-repeat: no-repeat;
}

#channels div.selected {
    background-position: 0 -40px;
}

#channels div:hover {
    background-position: 0 -80px;
}

#channels div.selected:hover {
    background-position: 0 -40px;
}

#channels div.general_selected,
#channels div.general_selected:hover,
#channels div.selected.general_selected,
#channels div.selected.general_selected:hover
{
    color: #5d6500;
    border-color: #5d6500;
    cursor: default;
    background-color: #1c1c1c;
    background-position: 0 -160px;
}
