.waiting {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    cursor: wait;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    25% { opacity: 0.7; }
    50% { opacity: 0.3; }
    75% { opacity: 0.7; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    25% { opacity: 0.7; }
    50% { opacity: 0.3; }
    75% { opacity: 0.7; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    25% { opacity: 0.7; }
    50% { opacity: 0.3; }
    75% { opacity: 0.7; }
    100% { opacity: 1.0; }
}

/* Seznam okruhu a znelek */

.ShortList div {
    white-space: nowrap;
    overflow: hidden;
    margin: 1px;
    font-weight: bold;
    border: 1px solid #000;
    height: 40px;
    line-height: 40px;
    color: #ccc;
    padding-left: 10px;
    padding-right: 15px;
    background-color: #393939;
    cursor: pointer;
}

.ShortList div.selected {
    color: #bbcb00;
    border-color: #bbcb00;
}

.ShortList div:hover {
    color: #fff;
    border-color: #fff;
}

.ShortList div.selected:hover {
    color: #bbcb00;
    border-color: #fff;
}

/* Seznam relaci a uzivatelu */

table.Compact th {
    line-height: 20px;
    font-size:11px;
    font-weight: normal;
    text-align:left;
    color: #eee;
    border-bottom: 2px solid #eee;
}

table.Compact, table.Compact td {
    margin: 0;
    padding: 0;
    border: 0;
}

table.Compact tr td {
    cursor: pointer;
    border-bottom: 1px solid #666;
    line-height: 20px;
    color: #ccc;
    font-size: 11px;
    padding: 0 .25em;
}

table.Compact tr:hover td {
    border-bottom: 1px solid #fff;
    color: #fff;
}

/* tabulka v jBox */

table.Light, table.Light th, table.Light td {
    border: 1px solid #666;
    border-collapse:  collapse;
}
table.Light th, table.Light td {
    padding: .2em .5em;
}
table.Light th, table.Light td a{
    color: #000;
}

/* pridat relaci a uzivatele */

div.AddButton {
    text-align: center;
    margin: 10px 1px 1px 1px;
    padding: 0 2em;
    font-weight: bold;
    border: 1px solid #000;
    height: 40px;
    line-height: 40px;
    color: #bbcb00;
    background-color: #393939;
    cursor: pointer;
}

h3 span.AddButton {
    display: block;
    float: right;
    cursor: pointer;
    color: #bbcb00;
    width: 20px;
    height: 20px;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    border: 1px solid transparent;
    text-align: center;
}

.AddButton:hover {
    color: #fff;
    border: 1px solid #fff;
    background-color: #555;
}

.Error {
    color: #fff;
    font-weight: bold;
    border: 1px solid #e00;
    background-color: #500;
    margin: .5em 0;
    padding: .5em;
}

.alert_4 td {
    background-color: #f66;
}


label {
    font-weight: bold;
}

footer a {
    color: #ddd;
    text-decoration: none;
}
footer a:hover {
    color: #fff;
    text-decoration: underline;
}

.NoWrap {
    white-space: nowrap;
}

dt {
    font-weight: bold;
    line-height: 120%;
    margin-top: 1em;
    color: #eee;
}

dd {
    margin-left: 0;
}

.Flex {
    display: flex;
}
