.jBox-wrapper .ui-timepicker * {
    box-sizing: content-box;
}

.ui-timepicker-table .ui-timepicker-title {
    line-height: 2.2em;
}

.ui-timepicker-hour-cell a.ui-state-default,
.ui-timepicker-minute-cell a.ui-state-default
{
    width: 1.5em;
}

.ui-timepicker-title {
    margin-bottom: 5px;
}

.compact td {
    background-color: #393939;
    color: #ccc;
    cursor: pointer;
    border-top: 1px solid #fff;
}

.compact tr.selected td
{
    background-color: #000;
    color: #fff;
}

.ui-menu .ui-widget-header {
    padding: 5px;
}
