header {
    background: #212121;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #000;
    height: 42px;
    display: flex;
}

header h1 {
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    padding: 0;
    margin: 0 6px;
    flex-grow: 10;
}
header h1 span {
    font-weight: normal;
}

header div {
    line-height: 40px;
}

header #time {
    color: #fff;
    font-size: 20px;
    padding-right: 5px;
}

