#import_media.InPlaylist {
    border-top: 10px solid #444;
}

#import_media div {
    margin: 1px;
    font-weight: bold;
    font-size: 12px;
    height: 40px;
    width: 170px;
    line-height: 40px;
    color: #808080;
    padding: 0 5px 0 44px;
    background-color: #393939;
    background-repeat: no-repeat;
    background-image: url('/img/import_media.png');
    cursor: pointer;
    float: left;
}


#import_media div:hover {
    background-image: url('/img/import_media-hover.png');
    color: #fff;
}

#import_media #pc_upload {
    background-position: 0 -40px;
}

#import_media #usb_import {
    background-position: 0 -80px;
}

#progress_bar {
    display: none;
}
