body {
    background: #393939;
    background-repeat: no-repeat;
    background-size: cover;
}

body, div, form, hr, img {
    margin:  0;
    padding: 0;
    border:  0;
}

body, div, p, td, li, div {
    font-family: 'verdana', sans-serif;
    font-size: 12px;
}

a, a:visited {
    color: #eee;
}

hr, .Cleaner {
    clear: both;
}

.Left {
    float: left;
}
.Right {
    float: right;
}

.Container {
    border: 10px solid #444;
    margin: 2px;
}

.Container h3 {
    margin: 0;
    padding: 0 0 1em 0;
    line-height: 20px;
    background-color: #444;
    color: #fff;
}

.Container h4 {
    margin: 0;
    padding: .5em;
    line-height: 16px;
    background-color: #ccc;
    color: #000;
}

.Container > div {
    margin: 1px;
}

.zTop {
    z-index: 500;
}

#Content {
    padding-bottom: 75px;
}

footer {
    width: 100%;
    position: fixed;
    height: 75px;
    text-align: center;
    bottom: 0;
    background-color: #212121;
    opacity: 0.8;
}

footer #Playback {
    border-top: 1px solid #ccc;
    height: 50px;
}

footer #mpd {
    float: right;
    margin-top: 5px;
}

footer #volume {
    float: left;
    margin: 5px 20px;
}

footer #vu {
    float: left;
}

footer #Copyright {
    font-size: x-small;
    border-top: 1px solid #ccc;
    height: 25px;
    line-height: 25px;
    background-color: #000;
    color: #999;
}

