#LoginForm form {
    margin: 1em 0;
}

#LoginForm input#login, #LoginForm input#password{
    width: 280px;
    margin: 0.25em 0 0.75em 0;
}

#LoginForm label {
    display: block;
    font-weight: bold;
}

#LoginForm .footer {
    text-align: right;
}
