#record_control {
    margin-top: 1em;
}
#record_control input {
    width: 20em;
    display: block;
    margin: 2px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #a6a6a6;
    cursor: pointer;
}

#record_control input:hover {
    color: #fff;
}

#record_control input.ON {
    color: #ff0000;
    border-color: #ff0000;
}

#record_control input.waiting {
    color: #bbcb00;
    border-color: #bbcb00;
}

input#record_name {
    width: 20em;
    border: 1px solid #a6a6a6;
}

