#player_control {
    display: none;
}
#player_control div.Button {
    float: left;
    margin: 1px;
    font-weight: bold;
    height: 40px;
    width: 32px;
    line-height: 40px;
    color: #808080;
    background-color: #212121;
    background-repeat: no-repeat;
    background-image: url('/img/player.png');
    cursor: pointer;
    display: none;
}

#player_control div.Button:hover {
    color: #fff;
    background-image: url('/img/player-hover.png');
}

#player_control #pause {
    background-position: 0 -40px;
}

#player_control #stop {
    background-position: 0 -160px;
}

#progressbar_container {
    float: left;
}

#progressbar {
    width: 240px;
    height: 26px;
    margin: 7px;
}

#played_record_name {
    position: absolute;
    font-size: 9px;
    font-weight: bold;
    color: #fff;
    height: 26px;
    line-height: 26px;
    margin-left: 5px;
}

#player_position {
    float: left;
    width: 40px;
    height: 40px;
}

#time_percent {
    text-align: center;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

#time_total {
    text-align: center;
    height: 15px;
    line-height: 12px;
    font-size: 9px;
    font-weight: bold;
    color: #fff;

}
