nav {
    line-height: 24px;
    border-bottom: 1px solid #bebebe;
    background-color: #666;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    padding: 0 .5em;
}

nav a.active {
    color: #bbcb00;
}

nav .Left a {
    border-right: 1px solid #bebebe;
}

nav a:hover {
    text-decoration: underline;
}
