#playlist  {
    clear: both;
    width: 300px;
    height: 345px;
    overflow-y: scroll;
}
#playlist div {
    border-bottom: 1px solid #666;
    line-height: 20px;
    color: #ccc;
    padding: 0 .25em 0 24px;
    cursor: move;

    background-image: url('/img/record.png');
    background-repeat: no-repeat;
}

#playlist div.played {
    color: #fff;
    background-color: #222;
    background-image: url('/img/record-active.png');
}

#playlist div span {
    display: block;
}

#playlist div span.Duration {
    float: right;
}

#playlist div span.Name {
    float: left;
    height: 20px;
    overflow: hidden;
}

#playlist div span.Remove {
    float: right;
    width: 30px;
    font-weight: bold;
    color: #bbcb00;
    cursor: pointer;
    text-align: center;
}

