#records td {
    background-color: #393939;
    color: #ccc;
    cursor: pointer;
    border: 1px solid #444;
    padding: 4px 5px;
    margin: 0;
}

#records tr.intro_begining td.Name {
    margin-right: 2px;
    background-image: url('/img/intro_begining.png');
    background-repeat: no-repeat;
    background-position: right center;
}
#records tr.intro_ending td.Name {
    margin-right: 2px;
    background-image: url('/img/intro_ending.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.played,
#records div.played span,
#records tr.played td {
    color: #fff;
    background-color: #222;
}

#records td.active span {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('/img/record.png');
}

#records tr.active td.active span {
    background-image: url('/img/record-active.png');
}

.category_unsorted { background-position: 0 -100px; }
.category_intro { background-position: 0 -20px; }
.category_message { background-position: 0 -40px; }
.category_relations { background-position: 0 -40px; }
.category_music { background-position: 0 -60px; }
.category_alarm { background-position: 0 -80px; }
.category_test { background-position: 0 0; }

#record_save_cancel {
    display: none;
    text-align: center;
}

#record_save_cancel p {
    text-align: left;
}
#record_save_cancel .Button {
    width: 140px;
    height: 30px;
}

#records div span.Add {
    float: right;
    width: 30px;
    font-weight: bold;
    color: #bbcb00;
    cursor: pointer;
    text-align: center;
}

