#RelationForm label {
    display: block;
    font-weight: bold;
    margin-top: 1em;
}

#RelationForm #relation_name {
    width: 400px;
}


#RelationForm #relation_save {
    width: 100%;
    margin-top: 1em;
}

#relations td.Name span.Status {
    display: block;
    float: left;
    width: 24px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('/img/relation.png');
}

#relations td.Name span.TestRelation {
    color: #f33;
    font-weight: bold;
}

#relations td.Name span.unconfigured {
    background-position: 0 -20px;
}

#relations td.Name span.inactive {
    background-image: none;
}

#relation_save {
    width: 100%;
}

#relation .Relation {
    padding: .5em;
    color: #ccc;
}

#relation .actions {
    margin-top: 1em;
}

#relation .actions input {
    width: 11.2em;
    background-color: #393939;
    margin: 2px;
    padding: 10px;
    text-align: center;
    border: 1px solid #a6a6a6;
    font-weight: bold;
    font-size: 12px;
    color: #a6a6a6;
    cursor: pointer;
}

#relation .actions input:hover {
    color: #fff;
    border-color: #fff;
}

#relation .actions input.ON {
    color: #ff0000;
    border-color: #ff0000;
}

#relation .actions input.waiting {
    color: #bbcb00;
    border-color: #bbcb00;
}

#relation .actions input.off_pause, #relation .actions input.off_pause:hover {
    color: #666;
    border-color: #666;
}
#relation_content {
    display:none;
    padding-bottom: 75px;
}
#relation_content td {
    vertical-align:top;
}

/* REPORTY */

#report_content {
    display:none;
    padding-bottom: 75px;
}

.BroadcastingReport {
    padding: .5em;
    color: #ccc;
    min-width: 420px;
}

.BroadcastingReport dl {
    flex-grow: 1;
}

table.dataTable tbody tr.report_status_error td,
table.dataTable tbody tr.error td
{
    color: #db3a3a;
}

table.dataTable tbody tr.report_status_warn td {
    color: #ec9940;
}

table.ReportSpeakers td {
    text-align: center;
    cursor: default !important;
}
table.ReportSpeakers td.ID,
table.ReportSpeakers td.Name,
table.ReportSpeakers td.Type
{
    text-align: left;
    white-space: nowrap;
}

#relation_edit {
    display: flex;
}
