table#speakers tr.status_0 td {
    color: #db3a3a;
}

table#speakers tr.status_5 td{
    color: #ec9940;
}

#SpeakerTest div {
    text-align: center;
    padding: 1em;
}

table#speakers_log td
{
    text-align: center;
}
table#speakers_log td.number
{
    text-align: right;
}

table#speakers_log td span.Alert
{
    font-weight: bold;
    color: #f33;
}

table#speakers_log td span.OK
{
    font-weight: bold;
    color: #3f3;
}

table#speakers_log th,
table#speakers_log td
{
    font-size: 11px;
}

.SpeakersFilter div {
    float: left;
    margin: 2px 0 2px 2px;
    background-color: #333;
    color: #eee;
}
.SpeakersFilter label {
    display: block;
    padding: 5px;
}
.SpeakersFilter select {
    width: 281px;
}

