#users td.Login {
    width: 16em;
}

#users td.Name {
    width: 16em;
}

#users td.Login span {
    display: block;
    float: left;
    width: 24px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('/img/user.png');
}


#user_save {
    width: 100%;
    margin: 1em 0 2em 0;
}

