#volume div div {
    float: left;
}

#volume .Name {
    height: 20px;
    line-height: 20px;
    width: 7em;
    color: #ccc;
    text-align: left;
}
#volume .Value {
    height: 20px;
    line-height: 20px;
    width: 3em;
    color: #ccc;
    text-align: right;
    margin-right: 1em;
}

#volume .Slider  {
    font-size: 8px;
    width: 200px;
}

span.ui-slider-handle.ui-state-default {
    background: #eeeeee;
}

#vu {
    height: 50px;
}

#vu div {
    float: left;
    height: 50px;
    width: 3px;
    margin-right: 1px;
    background-image:url('/img/vu.png');
    background-repeat: no-repeat;
}
#vu div span {
    display: block;
    height: 50px;
    width: 3px;
    background-color: #333;
}
