#zdo_status {
    width: 40px;
    background-repeat: no-repeat;
    background-image: url('/img/status.png');
    background-position: 0 -160px;
    margin: 4px 5px 0 0;
}

#zdo_status.board   { background-position: 0 -128px; }
#zdo_status.console { background-position: 0 0; }
#zdo_status.pc      { background-position: 0 -64px; }
#zdo_status.jsvv    { background-position: 0 -32px; }
#zdo_status.phone   { background-position: 0 -96px; }
#zdo_status.offline { background-position: 0 -160px; }

#onair {
    width: 150px;
//    height: 32px;
    background-image: url('/img/onair.png');
    background-repeat: no-repeat;
    background-position: 0 -200px;
}

#onair.active {
    background-position: 0 0;
}

#alert {
    width: 32px;
    background-image: url('/img/alert.png');
    background-repeat: no-repeat;
    margin: 4px 5px 0 0;
}

