<div id="player_control">
    <div id="progressbar_container">
        <div id="progressbar">
            <div id="played_record_name"></div>
        </div>
    </div>

    <div id="player_position">
        <div id="time_percent"></div>
        <div id="time_total"></div>
    </div>

    <div id="stop" class="Button" title="[% c.loc('Stop') %]"><span></span></div>
    <div id="pause" class="Button" title="[% c.loc('Pause') %]"><span></span></div>
    <div id="play" class="Button" title="[% c.loc('Play') %]"><span></span></div>

    <hr/>
</div>
<script type="text/javascript" src="/js/mpd.js"></script>
