<div id="zdo_status" title=""></div>

<script>
$(document).ready(function() {

    $("#zdo_status").contextmenu({
        menu: [
            {
                cmd: 'test',
                uiIcon: "ui-icon-refresh",
                title: "[% c.loc('menu.board.test') %]",
            },
        ],
        select: function(event, ui) {
            if ( ui.cmd == 'test' ) {
                MQTTClientCmd('ror/zdo/cmd', 'test board')
            }
        }
    });

    $("#onair").contextmenu({
        menu: [
            {
                cmd: 'off',
                uiIcon: "ui-icon-close",
                title: "[% c.loc('menu.end.broadcast') %]",
            },
        ],
        select: function(event, ui) {
            if ( ui.cmd == 'off' ) {
                MQTTClientCmd('ror/cmd', 'off')
            }
        }
    });


});
</script>
