[% IF c.config.hardware.type != 'zdo' %][% RETURN %][% END %]
[% title = c.loc('page.live') %]

<input type="hidden" id="relation_id" value="0" />

<table>
<tr valign="top">
    <td>
[% INCLUDE 'channels/container.tt2' %]
    </td>
    <td>
[% INCLUDE 'records/intros.tt2' %]
    </td>
    <td>
[% INCLUDE 'broadcast.tt2' %]
    </td>
</tr>
</table>
[% INCLUDE 'alerts.tt2' %]
<script>
$(document).ready(function() {
[% IF c.config.hardware.type == 'zdo' %]
// V okamziku volani jeste neni pripojene
// MQTTClientCmd('ror/zdo/cmd', 'test board');
[% END %]
});
</script>
