[% title = c.loc('page.settings') %]

[% INCLUDE 'config/ip.tt2'%]

[% INCLUDE 'config/ftp.tt2'%]

[% INCLUDE 'config/volume.tt2'%]

[% IF c.config.devel.config_hardware %]
[% INCLUDE 'config/hardware.tt2'%]
[% END %]


<hr/>

<script>
$(function() {
    $('.Button').button();
});
</script>
