<div class="Container DisabledDuringBroadcast">
<h3>[% c.loc('page.records') %]</h3>

<div id="library">
    <div id="categories_short">
    [% FOREACH category IN c.config.storage.categories %]
        [% NEXT IF category.hidden %]
        [% name = c.loc("category.name.${category.id}") %]
        <div id="category_[% category.id %]" title="[% name %]"><span>[% name %]</span></div>
    [% END %]
    </div>
<hr/>
<div id="records"></div>
</div>


</div>

<script>

function load_records() {
    $('#records').load(
        '/records/list/?category_id=' +
        $('#categories_short div.selected').attr("id").split('_')[1]
    );
}

$(document).ready(function() {

    $('#category_[% c.config.storage.categories.1.id %]' ).addClass('selected');

    $('#categories_short div').click(
        function() {
            if ( $(this).hasClass('selected')) return;
            $("#categories_short div").removeClass("selected");
            $(this).addClass('selected');
            load_records();
        }
    );

    load_records();
});

</script>
